/*RESET*/
@charse "UTf-8";
*, *:after, *:before{
	text-decoration: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: justify;
}
html, body{
	height: 100%;
}
html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: white;
    background-color:black;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
img{
	width:100%;
	height: auto;
}
/*RESET*/
/*Fontes e Padroes */
.text-center{
 text-align-last: center;
}
.DIB{
    display: inline-block;
}
.DBA{
	display: block;
	position: absolute;
}
.DF{
	display: -ms-flex;
	display: -ms-flexbox;
	display: flex;	
}
.DIF{
	-webkit-display: inline-flex;
	    -ms-display: inline-flex;
	        display: inline-flex;	
}
.FW{
	-ms-flex-flow: wrap;
	    flex-flow: wrap;
}
.PA{
	position: absolute !important;
}
.PF{
	position: fixed !important;
}
.DN{
	display: none;
}
.DB{
	display: block;
}
.FL{
	float: left;
}
.FR{
	float: right;
}
.hide{
	visibility: hidden;
	display: none;
}
/*Fontes e Padroes*/
/*CONTAINER*/
.container-100{
	width:100%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-90{
	width:90%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-80{
	width:80%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-70{
	width: 70%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-75{
	width:75%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-60{
	width:60%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-50{
	width: 50%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-40{
	width:40%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-33{
	width: 33.333%;
}
.container-30{
	width: 30%;
	margin:0 auto;
	position:relative;
	height:auto; 
}
.container-25{
	width:25%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-25-5{
	width: calc(25% - 5px);
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-20{
	width:20%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-20-5{
	width: calc(20% - 5px);
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-15{
	width:15%;
	margin:0 auto;
	position:relative;
	height:auto;
}
.container-10{
	width:10%;
	margin:0 auto;
	height:auto;
}
/*CONTAINER*/
/*GERAL*/
.paralax {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    background-position: 50% 0;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;
}
li.content-header {
	font-size: 0px;
}
.center {
 	height: 100%;
 	min-height: 100%;
 	display: -webkit-flex;
 		display: -ms-flex;
 			display: flex;
 	-webkit-flex-wrap: 	wrap;
 	    -ms-flex-wrap: 	wrap;
 	        flex-wrap: 	wrap;
 	-webkit-align-items: center;
 		-ms-align-items: center;
 			align-items: center;
 	-webkit-justify-content: center;
 		-ms-justify-content: center;
 			justify-content: center;
	max-width: 600px;
    padding-top: 80px;
}
.HeaderShowLogo {
    max-width: 320px;
}
.info-container {
  background-image: linear-gradient(-60deg,#a5a5a5 , #636);
  margin: 40px 20px;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  padding: 40px 80px;
}
.unit-container{
	color: 	#000;
	margin:10px auto;
}
.unit-container div.ticket {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}
.unit-container div.ticket {
  width: 60%;
  max-width: 320px;
  margin: 0 auto;
}
.unit-container div.ticket .top > div,
.unit-container div.ticket .bottom > div {
  padding: 0 18px;
}
.unit-container div.ticket .top > div:first-child,
.unit-container div.ticket .bottom > div:first-child {
  padding-top: 18px;
}
.unit-container div.ticket .top > div:last-child,
.unit-container div.ticket .bottom > div:last-child {
  padding-bottom: 18px;
}
.unit-container div.ticket .top img,
.unit-container div.ticket .bottom img {
  padding: 18px 0;
}
.unit-container div.ticket .top,
.unit-container div.ticket .bottom,
.unit-container div.ticket .rip {
  background-color: #fff;
}
.unit-container div.ticket .top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.unit-container div.ticket .top .deetz {
  padding-bottom: 10px !important;
}
.unit-container div.ticket .bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 18px;
  height: 60px;
  padding-top: 10px;
}
.unit-container div.ticket .bottom .barcode {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAABCAYAAABXChlMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAACPSURBVChTXVAJDsMgDOsrVpELiqb+/4c0DgStQ7JMYogNh2gdvg5VfXFCRIZaC6BOtnoNFpvaumNmwb/71Frrm8XvgYkker1/g9WzMOsohaOGNziRs5inDsAn8yEPengTapJ5bmdZ2Yv7VvfPN6AH2NJx7nOWPTf1/78hoqgxhzw3ZqYG1Dr/9ur3y8vMxgNZhcAUnR4xKgAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  min-width: 58px;
}
.buy {
  display: block;
  font-size: 12px;
  font-weight: bold;
  background-color: #636;
  padding: 0 18px;
  line-height: 30px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}
.unit-container div.ticket .rip {
  height: 20px;
  margin: 0 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
  background-size: 4px 2px;
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
}
.unit-container div.ticket .rip:before,
.unit-container div.ticket .rip:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 5px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  border-radius: 100%;
  pointer-events: none;
}
.unit-container div.ticket .rip:before {
  left: -10px;
}
.unit-container div.ticket .rip:after {
  transform: translate(-50%, -50%) rotate(225deg);
  right: -30px;
}
.unit-container div .-bold {
  font-weight: bold;
}

/*GERAL*/
/*MB-Settings*/
@media (max-width: 1070px){
	.tb-hide{
		display: none;
		visibility:hidden;
	}
	.tb-container-100{
		width:100% !important;
	}
	.tb-container-90{
		width:90% !important;
	}
	.tb-container-80{
		width:80% !important;
	}
	.tb-container-70{
		width:70% !important;
	}
	.tb-container-60{
		width:60% !important;
	}
	.tb-container-50{
		width:50% !important;
	}
	.tb-container-50-5{
		width: calc(50% - 5px) !important;
	}
	.tb-container-40{
		width:40% !important;
	}
	.tb-container-30{
		width:30% !important;
	}
	.tb-container-20{
		width:20% !important;
	}
	.tb-container-10{
		width:10% !important;
	}
}
@media (max-width: 710px){
	.mb-hide{
		display: none;
		visibility:hidden;
	}

	.mb-container-100{
		width:100% !important;
	}
	.mb-container-90{
		width:90% !important;
	}
	.mb-container-80{
		width:80% !important;
	}
	.mb-container-70{
		width:70% !important;
	}
	.mb-container-60{
		width:60% !important;
	}
	.mb-container-50{
		width:50% !important;
	}
	.mb-container-40{
		width:40% !important;
	}
	.mb-container-30{
		width:30% !important;
	}
	.mb-container-20{
		width:20% !important;
	}
	.mb-container-10{
		width:10% !important;
	}
}